h1= title
form( method="post")
    div
        div
            span id :
            input(type="text", name="id", id="editCommentTitle")
        div
            span Title :
            input(type="text", name="title", id="editCommentTitle")
        div
            span Body :
            textarea( name="body", rows=20, id="editCommentBody")
        div#editArticleSubmit
            input(type="submit", value="Send")
